.common__section {
    position: relative;
    height: 250px; /* Adjust as needed */
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .cool-title {
    font-size: 2.5em;
    color: #fff;
    /* Additional styling for the title to make it cool */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  