/* header.css */

/* Navbar styles */
.header {
  background-color: #fff;
  border-bottom: 1px solid #e2e8f0;
  padding: 1rem 0;
  transition: background-color 0.3s ease;
}

.sticky__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 40px; /* Adjust height as needed */
}

.navigation ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navigation ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: #1a202c;
}

/* Active link color */
.navigation ul li a.active__link {
  color: #4f46e5; /* Text-indigo-700 */
}

.nav__right .nav__btns .btn {
  padding: 0.5rem 1rem;
  font-size: 0.875rem; /* Adjust font size as needed */
}

.mobile__menu {
  display: none;
}

.hover-link {
  transition: all 0.3s ease;
}

.hover-link:hover {
  border-top-width: 4px;
  border-color: blue;
  color: blue;
}

/* Navbar responsive styles */
@media (max-width: 768px) {
  .navigation {
    display: none;
  }
  .mobile__menu {
    display: block;
    cursor: pointer;
  }
  .nav__wrapper {
    justify-content: space-between;
  }
  .navigation.block {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .navigation.block ul {
    flex-direction: column;
    gap: 1rem;
  }
}
